<h1>All users</h1>
  <%= if !is_empty_list?(@users) do %>
    <%= render SampleApp.PaginationView, "pagination.html",
             action: user_path(@conn, :index),
             current_page: @current_page,
             page_list: @page_list,
             total_pages: @total_pages %>
    <ul class="users">
      <%= for user <- @users do %>
        <%= render "user.html", conn: @conn, user: user %>
      <% end %>
    </ul>
    <%= render SampleApp.PaginationView, "pagination.html",
             action: user_path(@conn, :index),
             current_page: @current_page,
             page_list: @page_list,
             total_pages: @total_pages %>
  <% end %>
