<div class="row">
  <aside class="col-md-4">
    <section>
      <%= render SampleApp.SharedView, "user_info.html",
                        conn: @conn, user: @user %>
    </section>
    <section>
      <%= render SampleApp.SharedView,
            "stats.html", conn: @conn, user: @user %>
    </section>
    <%= if current_user?(@conn, @user) do %>
      <section>
      <%= link "Edit", to: user_path(@conn, :edit, @user),
          class: "btn btn-default btn-xs" %>
      <%= button "Delete", to: user_path(@conn, :delete, @user),
          method: :delete,
          onclick: "return confirm(\"Are you sure?\");",
          class: "btn btn-danger btn-xs" %>
      </section>
    <% end %>
    <section>
      <%= render SampleApp.MicropostView, "form.html", conn: @conn,
        changeset: @changeset, user: @user %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render SampleApp.RelationshipView,
                "form.html", conn: @conn, user: @user %>
    <%= unless is_empty_list?(@posts) do %>
      <h3>Microposts</h3>
      <%= render SampleApp.SharedView, "microposts.html",
                  conn: @conn, posts: @posts, user: @user %>
      <%= render SampleApp.PaginationView, "pagination.html",
               action: user_path(@conn, :show, @user),
               current_page: @current_page,
               page_list: @page_list,
               total_pages: @total_pages %>
    <% end %>
  </div>
</div>
