<div class="row">
  <aside class="col-md-4">
    <section>
      <%= render SampleApp.SharedView, "user_info.html", conn: @conn, user: @user %>
    </section>
    <section>
      <%= render SampleApp.SharedView, "stats.html",conn: @conn, user: @user %>
      <%= if @users do %>
        <div class="user_avatars">
          <%= for follow_user <- @users do %>
            <a href="<%= user_path(@conn, :show, follow_user) %>">
              <img src="<%= get_gravatar_url(follow_user) %>" class="gravatar">
            </a>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
  <h3>Users</h3>
  <%= if @users do %>
    <ul class="users">
      <%= for follow_user <- @users do %>
        <%= render "user.html", conn: @conn, user: follow_user %>
      <% end %>
    </ul>
    <%= render SampleApp.PaginationView, "pagination.html",
             action: @action,
             current_page: @current_page,
             page_list: @page_list,
             total_pages: @total_pages %>
    <% end %>
  </div>
</div>
