<div class="debug_dump">
  <p>Controller: <%= get_controller_name @conn %></p>
  <p>Action: <%= get_action_name @conn %></p>
  <!-- サインイン中かどうかで処理を切り替え -->
  <%= if current_user(@conn) do %>
    <p>User (ID): <%= current_user(@conn).name %>
  <% end %>
</div>
