<h1>Sign in!</h1>

<%= form_for @conn, session_path(@conn, :create),[as: :signin_params], fn f -> %>
<%= if f.errors != [] do %>
  <div class="alert alert-danger">
    <p>Oops, something went wrong! Please check the errors below:</p>
    <ul>
      <%= for {attr, message} <- f.errors do %>
        <li><%= humanize(attr) %> <%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="form-group">
  <label>Email</label>
    <%= email_input f, :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <label>Password</label>
    <%= password_input f, :password, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= submit "Sign-in!", class: "btn btn-primary" %>
  </div>
<% end %>
