<div class="jumbotron">
  <h1>Welcom to the Sample App</h1>
  <h2>
    This application is
    <a href="http://railstutorial.jp/">Ruby on Rails Tutorial</a>
    for Phoenix sample application.
</h2>
  <!-- ディレクトリ名_pathでそのディレクトリにあるview実態を見るHTMLになる -->
  <%= link "Sign up now!", to: user_path(@conn, :new),
    class: "btn btn-large btn-primary" %>
</div>
